
/* Introduction */
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 1em;

    font-family: var(--font-geist);
}

.icon {
    width: 1.5em;
    height: 1.5em;
}

.introduction .text {
    color: var(--color-text-1);
}

.title {
    margin-top: 1em;
    color: var(--color-text-1);
    font-size: 2em;
}